---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---
<a class="group grid lg:col-span-3 md:col-span-2 md:gap-4 md:grid-cols-3" 
    href={`/posts/${post.slug}/`}>
    <div class="border-base-300 dark:border-base-600/60 border justify-center overflow-hidden rounded-md shrink-0 sm:justify-normal md:col-span-2">
        <figure>
            <img alt={post.data.image.alt} class="w-full transition-all duration-500 group-hover:scale-[1.02] h-auto max-h-96 object-cover" decoding="async" height="700" loading="lazy" src={post.data.image.url} width="1249">
        </figure>
    </div>
    <div class="flex flex-col w-full gap-1 md:gap-4">
        <h2 class="mt-1 font-medium text-lg lg:text-3xl md:text-2xl">{post.data.title}</h2>
        <p class="hidden description lg:text-base md:block text-sm">{post.data.description}</p>
        <p class="whitespace-nowrap opacity-70 text-sm">{post.data.pubDate.toDateString()}</p>
    </div>
</a>
